<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<id>5862e12e-b622-4dbe-817f-a8c44a3f26fd</id>
	<title>CMScout Photo Albums</title>
	<version>1.0</version>
	<category>Content</category>
	<type>photo_album</type>
	<author>CMScout</author>
	<description>A nicely featured photo album system.</description>	
	<requires>
		<require type="type">upload</require>
	</requires>
</plugin>